@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.left {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  max-width: 100%;
  justify-content: center;
  gap: 20px;
}

.right {
  display: flex;
  align-items: center;
}

.left i {
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.logo {
  height: 24px;
  width: 100px;
}

.search-bar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  max-width: 500px;
  width: 100%;
}

.search-bar input {
  flex: 1;
  padding: 8px 12px;
  border: none;
  outline: none;
  max-width: 540px;
  width: 100%;
}

.search-bar button {
  background: #f8f8f8;
  border: none;
  padding: 0 12px;
  cursor: pointer;
  border-left: 1px solid #ccc;
}

.mic-icon {
  margin-left: 10px;
  cursor: pointer;
  font-size: 18px;
}

.sign-in {
  margin-left: 10px;
  border: 1px solid #065fd4;
  color: #065fd4;
  background: none;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.dots {
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  height: 80vh;
  padding-top: 20px;
  border-right: 1px solid #ddd;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #000;
  transition: background-color 0.3s;
}

.menu-item i {
  margin-right: 15px;
  font-size: 20px;
}

.menu-item:hover {
  background-color: #f2f2f2;
}

.menu-item.active {
  background-color: #e5e5e5;
  border-radius: 10px;
}

.sign__in {
  font-weight: 400;
  font-size: 18px;
  width: 210px;
  margin-top: 13px;
  margin-left: 20px;
}

.explore {
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 400px;
}

.siign-in {
  margin-left: 13px;
  border: 1px solid #065fd4;
  color: #065fd4;
  background: none;
  padding: 6px 12px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.m {
  margin-top: 14px;
}

.sidiber {
  justify-content: start;
  align-items: start;
  display: flex;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.btn {
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 10px 13px;
  border-radius: 10px;
  border: none;
  background-color: #a9a6a6;
  color: rgb(47, 47, 47);
}

.bun {
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 10px 13px;
  border-radius: 10px;
  border: none;
  background-color: #141313;
  color: white;
}

.bun:hover {
  background-color: #9e9a9a;
}

.buttons {
  width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 13px 24px;
  gap: 20px;
}

.vd__info {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: start;
}

.neew {
  font-size: 16px;
  max-width: 310px;
}

.eye {
  max-width: 50px;
}

.vieo {
  display: grid;
  grid-template-columns: repeat(auto-fill, 370px);
  grid-gap: 16px;
  height: 80vh;
  overflow: scroll;
  padding: 20px;
}

.detail__Wrapper {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.detail__Wrapper .detail__video {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.detail__Wrapper .detail__video .title-other-invite {
  margin-top: 10px;
}
.detail__Wrapper .detail__video .opisaine {
  width: 100%;
  margin-top: 20px;
}
.detail__Wrapper .detail__video .opisaine .views {
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.0509803922);
}
.detail__Wrapper .detail__video .opisaine .views .view {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #0f0f0f;
}
.detail__Wrapper .detail__video .opisaine .views span {
  display: flex;
  gap: 10px;
}
.detail__Wrapper .detail__video .opisaine .views span .about-opisanie, .detail__Wrapper .detail__video .opisaine .views span .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #0f0f0f;
}
.detail__Wrapper .detail__video .opisaine .views span .more {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #0f0f0f;
}
.detail__Wrapper .detail__video .video {
  width: 100%;
}
.detail__Wrapper .detail__video .video img {
  width: 100%;
}
.detail__Wrapper .detail__video .title {
  width: 100%;
}
.detail__Wrapper .detail__video .title .video-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #0f0f0f;
  margin-top: 10px;
}
.detail__Wrapper .detail__video .title .about__Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.detail__Wrapper .detail__video .title .about__Wrapper .channel-right {
  display: flex;
  gap: 10px;
}
.detail__Wrapper .detail__video .title .about__Wrapper .channel-right .like-dislike {
  display: flex;
  gap: 7px;
}
.detail__Wrapper .detail__video .title .about__Wrapper .channel-right .like-dislike .chiziq {
  width: 1px;
  height: 100%;
  background-color: #0f0f0f;
}
.detail__Wrapper .detail__video .title .about__Wrapper .channel-left {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.detail__Wrapper .detail__video .title .about__Wrapper .channel-left .channel-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.detail__Wrapper .detail__video .title .about__Wrapper .channel-left .channel {
  display: flex;
  flex-direction: column;
}
.detail__Wrapper .detail__video .title .about__Wrapper .channel-left .channel .channel-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #0f0f0f;
  gap: 10px;
  display: flex;
}
.detail__Wrapper .detail__video .title .about__Wrapper .channel-left .channel .subscriber {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #606060;
  gap: 10px;
  display: flex;
}
.detail__Wrapper .detail__other-video {
  width: 30%;
}

.join-channel {
  background-color: rgba(0, 0, 0, 0.0509803922);
  color: #0f0f0f;
  padding: 6px 16px;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 36px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.like-dislike {
  background-color: rgba(0, 0, 0, 0.0509803922);
  color: #0f0f0f;
  padding: 6px 16px;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 36px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.share {
  background-color: rgba(0, 0, 0, 0.0509803922);
  color: #0f0f0f;
  padding: 6px 16px;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 36px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.dot {
  background-color: rgba(0, 0, 0, 0.0509803922);
  color: #0f0f0f;
  padding: 6px 16px;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 36px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.save {
  background-color: rgba(0, 0, 0, 0.0509803922);
  color: #0f0f0f;
  padding: 6px 16px;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 36px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.subscribe {
  background-color: #0f0f0f;
  color: #ffffff;
  padding: 6px 16px;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 36px;
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (max-width: 725px) {
  .about__Wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .join-channel {
    display: inline-block;
  }
  .save {
    display: inline-block;
  }
}
@media (max-width: 1100px) {
  .detail__Wrapper {
    flex-direction: column;
  }
  .detail__Wrapper .detail__video {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .join-channel {
    display: none;
  }
}
@media (max-width: 750px) {
  .save {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */