@mixin d-flex($j: center, $gap: 0) {
  display: flex;
  align-items: center;
  justify-content: $j;
  gap: $gap;
}

@mixin font($weight: 400, $size: 15px, $height: 18.15px, $color: $light) {
  font-size: $size;
  line-height: $height;
  color: $color;
  font-weight: $weight;
}
@mixin join-button ($bg: $secondary,$color: $primary) {
  background-color: $bg; 
  color: $color;
  padding: 6px 16px;
  border: none;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 36px;
  display: flex;
  gap: 5px;
  align-items: center;
}
