@media (max-width:725px) {
    .about__Wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }
    .join-channel{
        display: inline-block !important;
    }
    .save{
        display: inline-block !important;
    }
}
@media (max-width:1100px){
    .detail__Wrapper{
        flex-direction: column;
        .detail__video{
            width: 100%;
        }
    }
    .org-vd{
        height: 50vw !important;
    }
    .detail__other-video {
        width: 100% !important;
        grid-template-columns: 1fr 1fr  1fr !important;
        padding: 5px !important;
        display: grid !important;
        grid-gap: 20px !important;

    }
    .videos{
        flex-direction: column;
        gap: 0px !important;
        img{
            max-width: 100% !important;
        }
        .items{
            gap: 0px !important;
        }
    }
}
@media (max-width: 858px) {
    .detail__other-video {
    grid-template-columns: 1fr 1fr !important;
    }
}
@media (max-width:800px){
    .join-channel{
        display: none;
    }
    
}
@media (max-width:750px){
    .save{
        display: none;
    }
}
@media (max-width:500px) {
    .save{
        display: none !important;
    }
    .join-channel{
        display: none !important;
    }
}
@media (max-width:650px) {
     .detail__other-video {
    grid-template-columns: 1fr !important;
    }
}
@media (min-width:1600px){
    .org-vd{
        height: 500px !important;
    }
}