@media (max-width:725px) {
    .about__Wrapper{
        flex-direction: column-reverse;
        align-items: center;
    }
    .join-channel{
        display: inline-block;
    }
    .save{
        display: inline-block;
    }
}
@media (max-width:1100px){
    .detail__Wrapper{
        flex-direction: column;
        .detail__video{
            width: 100%;
        }
    }
}
@media (max-width:800px){
    .join-channel{
        display: none;
    }
    
}
@media (max-width:750px){
    .save{
        display: none;
    }
}