.shorts {
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: end;
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

.short__btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.like {
  border-radius: 50px;
  padding: 13px 13px;
  border: none;
}

.iml {
  margin-left: 4px;
}

.bio {
  font-size: 20px;
}

.shorts__img {
  border-radius: 10px;
  min-width: 360px;
}

.inf {
  text-align: center;
}
